@model ComandaDigital.Dtos.ProdutoListDto;
@using ComandaDigital.Enums;
@using System.Security.Claims
@using ComandaDigital.Helpers
@{
    ViewData["Title"] = "Produtod";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Cadastro de produtod</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="tab-content">
                    <h5 class="mt-0 tituloCard">Listagem de produtos</h5>
                    @if (TempData["ocorreuGravacao"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Sucesso</h4>
                            @TempData["ocorreuGravacao"]
                        </div>
                    }
                    <table id="tableProdutos" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Valor de custo</th>
                                <th>Valor de venda</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var produto in Model.Produtos)
                            {
                            <tr>
                                <td>@produto.Nome</td>
                                <td>@String.Format("{0:C}", produto.ValorCusto)</td>
                                <td>@String.Format("{0:C}", produto.ValorVenda)</td>
                                <td style="text-align:center;"><a href="@Url.Action("Editar", "Produtos", new { Area = "", id = produto.ID })">Editar</a></td>
                                <td style="text-align:center;"><a href="@Url.Action("Excluir", "Produtos", new { Area = "", id = produto.ID })">Excluir</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="button-items">
                        <div class="form-group">
                            <div>
                                <a class="btn btn-info" href="@Url.Action("Editar", "Produtos", new { Area = "" })"><i class="fa fa-plus-square"></i> INCLUIR</a>
                                <a class="btn btn-secondary" href="@Url.Action("Index", "Home", new { Area = "" })"><i class="fa fa-backward"></i> VOLTAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableProdutos').DataTable({
            "paging": true,
            "ordering": false,
            "info": false
        });
    });
</script>

